<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xxx">
  <!-- Outer Arguments -->
  <xacro:arg name="robot_name" default="turtle1"/>
  <xacro:property name="namespace" value="$(arg robot_name)"/>

  <!-- Properties, Constant -->
  <xacro:include filename="$(find xxx_description)/robot/visual/properties.xacro"/>

  <!-- Template Declaration -->
  <xacro:include filename="$(find xxx_description)/robot/visual/wheel.xacro"/>
  <xacro:include filename="$(find xxx_description)/robot/visual/base.xacro"/>
  <xacro:include filename="$(find xxx_description)/robot/visual/castor.xacro"/>
  <xacro:include filename="$(find xxx_description)/robot/visual/sensor.xacro"/>

  <!-- Template Usage -->
  <xacro:base_graphics package="${PACKAGE_NAME}" mesh_path="${BASE_MESH_PATH}" namespace="${namespace}" />
  <xacro:wheel_set_graphics namespace="${namespace}" />
  <xacro:castor_set_visual namespace="${namespace}"/>
  <xacro:sensor_link namespace="${namespace}"/>
</robot>
